<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>中国医院院长</title>
<link rel="stylesheet" type="text/css" href="res/icons.css" />
<link rel="stylesheet" type="text/css" href="res/jq.ui.css?1.0.1" />
<link rel="stylesheet" type="text/css" href="res/style.css"><!--共用样式-->
<link rel="stylesheet" type="text/css" href="res/index.css">
<link rel="stylesheet" type="text/css" href="res/issues.css">
<link rel="stylesheet" type="text/css" href="res/about.css">
<link rel="stylesheet" type="text/css" href="res/news.css">
<link rel="stylesheet" type="text/css" href="res/library.css">
<link rel="stylesheet" type="text/css" href="res/activity.css">
<link rel="stylesheet" type="text/css" href="res/recommend.css">
<link rel="stylesheet" type="text/css" href="res/setting.css">
</head>
<body>
<div id="jQUi" class="bg">

  <div id="header"></div>
  <div id="content">
    <!-- 项目主引导界面（闪屏界面） -->
    <div id="start" class="panel" data-footer="none">
      <p><img src="res/img/logo.png"></p>
      <p class="text">本应用版权归中国医院院长所有</p>
    </div>

    <div title='中国医院院长－杂志' id="issues-main" class="panel issues-panel" data-footer="navbar2">
      <header>
        <span class="issues-header-logo"><img src="res/img/header-logo.png"></span>
        <a id='menubadge' onclick="javascript:$.ui.loadContent('#setting')" style='float:right;margin-top:0px' class='menuButton'></a>
      </header>
      <!-- END issues header -->

      <div class="issues-img">
        <ul>
          <li><a href="#issues-list">
            <img src="res/img/1.jpg">
            <p><strong>封面文章：打分新医改</strong>
              <br/>2012年第1期 总12期
              <br/>出版日期：2012年02月28日
            </p></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- END 杂志 pannel -->

    <div title='杂志列表' id="issues-list" class="panel" data-footer="navbar2">
      <header>
        <h1>总190期</h1>
        <button class="btn gohome" onclick="javascript:$.ui.goBack()"><img src="res/img/home.png"></button>
        <a id='menubadge' onclick="location.href='./setting.html';" style='float:right;margin-top:0px' class='menuButton'></a>
      </header>
      <!-- END customer header -->
      <div class="main">

        <div class="issues-list-img">
          <img src="res/img/1.jpg">
          <p>封面文章<span><br>中国医院院长<br/><br/></span>2012年01月<br/>第12期</p>
        </div><!-- END 图片切换 -->

        <div class="issues-list">
          <ul>
            <div class="issues-title">封面报道 cover story</div>
            <a href="#issues-detail">
              <li>
                <h4>人文鼓楼<br></h4>
                <span>院长杂志－出版日期：12月1日</span>
              </li>
            </a>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <div class="issues-title">封面报道 cover story</div>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <div class="issues-title">封面报道 cover story</div>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <div class="issues-title">封面报道 cover story</div>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
          </ul>
          <div class="load-more"><p>查看更多</p></div>
          <div class="current"><p><img src="res/img/loading.gif"><span>查看更多</span></p></div>
        </div>
      </div>
    </div>
    <!--END 杂志列表 issues-list -->

    <div id="issues-detail" class="panel" data-footer="navbar">
      <header>
        <h1>封面活动...</h1>
        <button class="btn periods" onclick="javascript:$.ui.goBack();">第190期</button>
        <a class="btn search" href="#issues-search"><img src="res/img/btn-search.png"></a>
      </header>
      <!-- END header -->
      <div class="issues-detail-main">
        <h1>人文鼓楼</h1>
        <div class="times">2013年03月01日《中国医院院长》</div>
        <p>文/本刊记者 顾旻轶</p>
        <p>100多年前，医士威廉·爱德华·麦克林（W. E. Macklin,中文名：马林）受基督会派遣，从加拿大出发，辗转了日本、上海等地，最终落脚于南京。他大概从未想过，自己为这座六朝古都带来的不仅是西方医学，更有一方能抵御时光的印记。</p>
        <p><img src="res/img/1.jpg"></p>
        <p>甲子为六十年的别称。在鼓楼医院的历史上，第一个甲子年，正好是从清末建院的1892年到南京市人民政府军事管制委员会宣布接办医院的1951年。第二个甲子年则是自转为公办至今，这是鼓医人区分医院不同时期的惯用方法。</p>
        <p>两个甲子年已过，当年马林筹建的那栋假四层"基督医院"楼房，仍伫立于原处。走过了120年的风雨沧桑，如今它与围绕着自己的建筑群一起，被称为南京鼓楼医院。虽然事易时移、院名变换，但不变的，是鼓医人传承的那份精湛高雅的济世情怀，与那颗不分贵贱的博爱之心。</p>
        <p>120年来，南京鼓楼医院在社会发展的洪流中跌宕起伏，它所书写的故事更多关乎于时代，关乎于选择。</p>
      </div>
    </div>
    <!-- end 杂志详细页面 #issues-detail -->

    <div id="issues-search" class="panel" data-footer="none" style="overflow:hidden;">
      <header>
        <h1>搜索</h1>
        <a class="btn goback" href="javascript:$.ui.goBack();"><img src="res/img/goback.png"></a>
      </header>
      <div id="form-search-box">
        <input type="text" name="keyword"/>
        <button class="search button"><img src="res/img/btn-search.png"></button>
      </div>
      <div id="hot-tag-box"></div>
    </div>
    <!-- END #search -->

    <div id="about" class="panel" data-footer="none" style=" background:rgba(4, 66, 100, 1); overflow:hidden;">
      <header>
        <h1>关于我们</h1>
        <button class="btn gohome" onclick="location.href='./setting.html';"><img src="res/img/goback.png"></button>
      </header>
      <div class="about-content">
        <p><img src="res/img/logo.png"></p>
        <p class="text">www.h-ceo.com&nbsp;&nbsp;version.1.1</p>
      </div>
    </div>
    <!-- END #about -->

    <div id="leading" class="panel" style="overflow:hidden;" data-footer="none">
      <header>
        <h1>院长杂志</h1>
      </header>
      <div class="leading-content">
        <div id="carousel-box">
          <div id="carousel">
            <div> <img src="res/img/leading-1.png" alt=""><span class="leading-text"><span>视觉.交互.全面升级</span><br/>为您奉上"视觉、交互"双重盛宴</span></div>
            <div> <img src="res/img/leading-2.png" alt=""><span class="leading-text"><span>维修案例</span><br/>推荐信息，方便、迅速</span></div>
            <div> <img src="res/img/leading-3.png" alt=""><span class="leading-text"><span>维修资料</span><br/>为您奉上您所需的内容</span></div>
            <div> <img src="res/img/leading-4.png" alt=""><span class="leading-text"><span>技术求助</span><br/><p class="go">马上体验</p></span></div>
          </div>
          <div id="carousel-dots"></div>
        </div><!-- END 图片切换 -->
      </div>
    </div>

    <div title='资讯' id="news-list" class="panel" data-footer="navbar2">
      <header>
        <h1>资讯</h1>
        <a id='menubadge' onclick="location.href='./setting.html';" style='float:right;margin-top:0px' class='menuButton'></a>
      </header>
      <!-- END customer header -->
      <div class="main">
        <div class="news-list-img">
          <p>资讯人文鼓楼</p>
          <img src="res/img/img.jpg">
        </div><!-- END 新闻图片 -->

        <div class="main">
          <div class="news-list">
            <ul id="news-list-node">

              <!--<li>-->
                <!--<img src="res/img/3.jpg">-->
                <!--<p>-->
                  <!--<span>人文鼓楼<br></span>-->
                  <!--院长杂志－出版日期：12月1日-->
                <!--</p>-->
              <!--</li>-->

            </ul>
            <div class="main" id="news-list-load">
              <div class="load-more"><p>查看更多</p></div>
              <!--<div class="current"><p><img src="res/img/loading.gif"><span>查看更多</span></p></div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--END 资讯列表页 news-list -->

    <div id="news-detail" class="panel" data-footer="navbar">
      <header>
        <h1>资讯详细页</h1>
        <button class="btn gohome" onclick="$.ui.goBack()"><img src="res/img/goback.png"></button>
        <a class="btn search" href="#search"><img src="res/img/btn-search.png"></a>
      </header>
      <!-- END header -->
      <div class="issues-detail-main" id="news-detail-node">
        <!--<h1>资讯详细页</h1>-->
        <!--<div class="times">2013年03月01日《中国医院院长》</div>-->
        <!--<p>文/本刊记者 顾旻轶</p>-->
        <!--<div><img src="res/img/3.jpg"></div>-->
      </div>
    </div>
    <!-- end 资讯详细页面 #news-detail -->

    <div id="search" class="panel" data-footer="none" style="overflow:hidden;">
      <header>
        <h1>搜索</h1>
        <a class="btn goback" href="javascript:$.ui.goBack();"><img src="res/img/goback.png"></a>
      </header>
      <div id="form-search-box">
        <input type="text" name="keyword"/>
        <button class="search button"><img src="res/img/btn-search.png"></button>
      </div>
      <div id="hot-tag-box"></div>
    </div>
    <!-- END #search -->

    <div title='往期' id="library-main" class="panel" data-footer="navbar2">
      <header>
        <h1>往期</h1>
        <a id='menubadge' onclick="location.href='./setting.html';" style='float:right;margin-top:0px' class='menuButton'></a>
      </header>
      <!-- END customer header -->
      <div class="main">
        <div class="library-list-img">
          <img src="res/img/2.jpg">
        </div><!-- END 图片切换 -->

        <div class="main">
          <div class="issues-list">
            <ul>
              <div class="issues-title"><span>2009年</span><span>2010年</span><span>2011年</span><span>2012年</span><span>2013年</span></div>
              <a href="#library-list">
                <li>
                  <h4>人文鼓楼<br></h4>
                  <span>院长杂志－出版日期：12月1日</span>
                </li>
              </a>
              <li>
                <h4>人文鼓楼<br></h4>
                <span>院长杂志－出版日期：12月1日</span>
              </li>
              <li>
                <h4>人文鼓楼<br></h4>
                <span>院长杂志－出版日期：12月1日</span>
              </li>
              <li>
                <h4>人文鼓楼<br></h4>
                <span>院长杂志－出版日期：12月1日</span>
              </li>
              <li>
                <h4>人文鼓楼<br></h4>
                <span>院长杂志－出版日期：12月1日</span>
              </li>
              <li>
                <h4>人文鼓楼<br></h4>
                <span>院长杂志－出版日期：12月1日</span>
              </li>
            </ul>
            <div class="load-more"><p>查看更多</p></div>
            <div class="current"><p><img src="res/img/loading.gif"><span>查看更多</span></p></div>
          </div>
        </div>
      </div>
    </div>
    <!--END 往期主页 library -->

    <div title='往期' id="library-list" class="panel" data-footer="navbar2">
      <header>
        <h1>总第199期</h1>
        <button class="btn gohome" onclick="location.href='./library.html#library';"><img src="res/img/home.png"></button>
        <a id='menubadge' onclick="location.href='./setting.html';" style='float:right;margin-top:0px' class='menuButton'></a>
      </header>
      <!-- END customer header -->
      <div class="main">
        <div class="issues-list-img">
          <img src="res/img/2.jpg">
          <p>封面文章<span><br>中国医院院长<br/><br/></span>2012年01月<br/>第12期</p>
        </div><!-- END 图片切换 -->
        <div class="issues-list">
          <ul>
            <div class="issues-title">封面文章 cover story</div>
            <a onclick="location.href='./library-detail.html'">
              <li>
                <h4>顺势而为<br></h4>
                <span>院长杂志－出版日期：12月1日</span>
              </li>
            </a>
            <li>
              <h4>异军突起<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <div class="issues-title">评审之重 cover story</div>
            <li>
              <h4>顺势而为<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <li>
              <h4>异军突起<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <div class="issues-title">封面报道 cover story</div>
            <li>
              <h4>顺势而为<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <li>
              <h4>异军突起<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <div class="issues-title">封面报道 cover story</div>
            <li>
              <h4>顺势而为<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <li>
              <h4>异军突起<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
            <li>
              <h4>人文鼓楼<br></h4>
              <span>院长杂志－出版日期：12月1日</span>
            </li>
          </ul>
          <div class="load-more"><p>查看更多</p></div>
          <div class="current"><p><img src="res/img/loading.gif"><span>查看更多</span></p></div>
        </div>
      </div>
    </div>
    <!--END 往期列表 library-list -->

    <div id="library-detail" class="panel" data-footer="navbar">
      <header>
        <h1>封面活动...</h1>
        <button class="btn periods" onclick="location.href='./library.html#library-list';">第199期</button>
        <a class="btn search" href="#search"><img src="res/img/btn-search.png"></a>
      </header>
      <!-- END header -->
      <div class="issues-detail-main">
        <h1>顺势而为</h1>
        <div class="times">2013年03月01日《中国医院院长》</div>
        <p>文/本刊记者 顾旻轶</p>
        <p><img src="res/img/2.jpg"></p>
        <p>100多年前，医士威廉·爱德华·麦克林（W. E. Macklin,中文名：马林）受基督会派遣，从加拿大出发，辗转了日本、上海等地，最终落脚于南京。他大概从未想过，自己为这座六朝古都带来的不仅是西方医学，更有一方能抵御时光的印记。</p>
        <p><img src="res/img/2.jpg"></p>
        <p>甲子为六十年的别称。在鼓楼医院的历史上，第一个甲子年，正好是从清末建院的1892年到南京市人民政府军事管制委员会宣布接办医院的1951年。第二个甲子年则是自转为公办至今，这是鼓医人区分医院不同时期的惯用方法。</p>
        <p>两个甲子年已过，当年马林筹建的那栋假四层"基督医院"楼房，仍伫立于原处。走过了120年的风雨沧桑，如今它与围绕着自己的建筑群一起，被称为南京鼓楼医院。虽然事易时移、院名变换，但不变的，是鼓医人传承的那份精湛高雅的济世情怀，与那颗不分贵贱的博爱之心。</p>
        <p>120年来，南京鼓楼医院在社会发展的洪流中跌宕起伏，它所书写的故事更多关乎于时代，关乎于选择。</p>
      </div>
    </div>
    <!-- end 杂志详细页面 #issues-detail -->


    <div id="library-search" class="panel" data-footer="none" style="overflow:hidden;">
      <header>
        <h1>搜索</h1>
        <a class="btn goback" href="javascript:$.ui.goBack();"><img src="res/img/goback.png"></a>
      </header>
      <div id="form-search-box">
        <input type="text" name="keyword"/>
        <button class="search button"><img src="res/img/btn-search.png"></button>
      </div>
      <div id="hot-tag-box"></div>
    </div>
    <!-- END #search -->

    <div title='活动' id="activity-main" class="panel" data-footer="navbar2">
      <header>
        <h1>活动</h1>
        <a id='menubadge' onclick="location.href='./setting.html';" style='float:right;margin-top:0px' class='menuButton'></a>
      </header>
      <!-- END customer header -->
      <div class="main">
        <div class="activity-list-img">
          <p>支付改革双城记<span class="special_label">活动</span></p>
          <img src="res/img/img.jpg">
        </div><!-- END 活动图片切换 -->

        <div class="main">
          <div class="news-list">
            <ul>
              <li><a href="#activity-list">
                <img src="res/img/img.jpg">
                <p>
                  <span>支付改革双城记<br></span>
                  院长杂志－出版日期：12月1日院长杂志－出版日期：12月1日院长杂志
                  <span class="label">活动</span>
                </p></a>
              </li>
              <li>
                <img src="res/img/img2.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日
                  <span class="label">活动</span>
                </p>
              </li>
              <li>
                <img src="res/img/img.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日院长杂志－出版日期：12月1日院长杂志
                  <span class="label">活动</span>
                </p>
              </li>
              <li>
                <img src="res/img/img2.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日<span class="label">活动</span>
                </p>
              </li>
              <li>
                <img src="res/img/4.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日院长杂志－出版日期：12月1日院长杂志
                  <span class="label">活动</span>
                </p>
              </li>
              <li>
                <img src="res/img/4.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日
                  <span class="label">活动</span>
                </p>
              </li>
              <li>
                <img src="res/img/4.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日院长杂志－出版日期：12月1日院长杂志
                  <span class="label">活动</span>
                </p>
              </li>
              <li>
                <img src="res/img/4.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日
                  <span class="label">活动</span>
                </p>
              </li>
            </ul>
            <div class="load-more"><p>查看更多</p></div>
            <div class="current"><p><img src="res/img/loading.gif"><span>查看更多</span></p></div>
          </div>
        </div>
      </div>
    </div>
    <!--END 活动列表页 activity -->

    <div title='活动' id="activity-list" class="panel" data-footer="navbar2">
      <header>
        <h1>活动</h1>
        <a class="btn goback" href="javascript:$.ui.goBack();"><img src="res/img/goback.png"></a>
        <a id='menubadge' onclick="location.href='./setting.html';" style='float:right;margin-top:0px' class='menuButton'></a>
      </header>
      <!-- END customer header -->
      <div class="main">
        <div class="activity-list-img">
          <p>支付改革双城记</p>
          <img src="res/img/img.jpg">
        </div><!-- END 活动图片切换 -->

        <div class="main">
          <div class="news-list">
            <ul>
              <div class="activity-title">封面报道 cover story</div>
              <li><a href="#activity-detail">
                <img src="res/img/img2.jpg">
                <p>
                  <span>支付改革双城记<br></span>
                  院长杂志－出版日期：12月1日院长杂志－出版日期：12月1日院长杂志
                </p></a>
              </li>
              <li>
                <img src="res/img/img.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日院长杂志－出版日期：12月1日院长杂志
                </p>
              </li>
              <div class="activity-title">封面报道 cover story</div>
              <li>
                <img src="res/img/4.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日
                </p>
              </li>
              <li>
                <img src="res/img/img2.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日
                </p>
              </li>
              <li>
                <img src="res/img/img.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日院长杂志－出版日期：12月1日院长杂志
                </p>
              </li>
              <div class="activity-title">封面报道 cover story</div>
              <li>
                <img src="res/img/img2.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日
                </p>
              </li>
              <li>
                <img src="res/img/4.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日院长杂志－出版日期：12月1日院长杂志
                </p>
              </li>
              <div class="activity-title">封面报道 cover story</div>
              <li>
                <img src="res/img/4.jpg">
                <p>
                  <span>人文鼓楼<br></span>
                  院长杂志－出版日期：12月1日
                </p>
              </li>
            </ul>
            <div class="load-more"><p>查看更多</p></div>
            <div class="current"><p><img src="res/img/loading.gif"><span>查看更多</span></p></div>
          </div>
        </div>
      </div>
    </div>
    <!--END 活动二级列表页面 activity-list -->

    <div id="activity-detail" class="panel" data-footer="navbar">
      <header>
        <h1>活动详细页</h1>
        <button class="btn gohome" onclick="location.href='./activity.html#activity-list';"><img src="res/img/goback.png"></button>
        <a class="btn search" href="#search"><img src="res/img/btn-search.png"></a>
      </header>
      <!-- END header -->
      <div class="issues-detail-main">
        <h1>活动详细页</h1>
        <div class="times">2013年03月01日《中国医院院长》</div>
        <p>文/本刊记者 顾旻轶</p>
        <p><img src="res/img/img.jpg"></p>
        <p>100多年前，医士威廉·爱德华·麦克林（W. E. Macklin,中文名：马林）受基督会派遣，从加拿大出发，辗转了日本、上海等地，最终落脚于南京。他大概从未想过，自己为这座六朝古都带来的不仅是西方医学，更有一方能抵御时光的印记。</p>
        <p><img src="res/img/4.jpg"></p>
        <p>甲子为六十年的别称。在鼓楼医院的历史上，第一个甲子年，正好是从清末建院的1892年到南京市人民政府军事管制委员会宣布接办医院的1951年。第二个甲子年则是自转为公办至今，这是鼓医人区分医院不同时期的惯用方法。</p>
        <p>两个甲子年已过，当年马林筹建的那栋假四层"基督医院"楼房，仍伫立于原处。走过了120年的风雨沧桑，如今它与围绕着自己的建筑群一起，被称为南京鼓楼医院。虽然事易时移、院名变换，但不变的，是鼓医人传承的那份精湛高雅的济世情怀，与那颗不分贵贱的博爱之心。</p>
        <p>120年来，南京鼓楼医院在社会发展的洪流中跌宕起伏，它所书写的故事更多关乎于时代，关乎于选择。</p>
      </div>
    </div>
    <!-- end 活动详细页面 #activity-detail -->

    <div id="activity-search" class="panel" data-footer="none" style="overflow:hidden;">
      <header>
        <h1>搜索</h1>
        <a class="btn goback" href="javascript:$.ui.goBack();"><img src="res/img/goback.png"></a>
      </header>
      <div id="form-search-box">
        <input type="text" name="keyword"/>
        <button class="search button"><img src="res/img/btn-search.png"></button>
      </div>
      <div id="hot-tag-box"></div>
    </div>
    <!-- END #search -->

    <div title='推荐' id="recommend" class="panel" data-footer="navbar2">
      <header>
        <h1>推荐</h1>
        <a id='menubadge' onclick="location.href='./setting.html';" style='float:right;margin-top:0px' class='menuButton'></a>
      </header>
      <!-- END customer header -->
      <div class="main">
        <div class="book-list">
          <ul>
            <div class="issues-title">订阅</div>
            <li><a href="#recommend-list">
              <img src="res/img/1.jpg">
              <p>
                <span>杂志<br></span>
                院长杂志－出版日期出版日期出版日期出版日期：12月1日院长
              </p></a>
            </li>
            <li><a href="#books-list">
              <img src="res/img/2.jpg">
              <p>
                <span>书籍<br></span>
                院长杂志－出版日期：12月1日
              </p></a>
            </li>
          </ul>
        </div>

        <div class="apply-list">
          <ul>
            <div class="issues-title">推荐应用</div>
            <li>
              <img src="res/img/icon.png">
              <p>
                <span>应用一<br></span>
                院长杂志－出版日期：12月1日院
              </p>
            </li>
            <li>
              <img src="res/img/icon.png">
              <p>
                <span>应用二<br></span>
                院长杂志－出版日期：12月1日
              </p>
            </li>
            <li>
              <img src="res/img/icon.png">
              <p>
                <span>应用三<br></span>
                院长杂志－出版日期：12月1日院长
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--END 应用列表页 apply -->

    <div title='订阅' id="recommend-list" class="panel" data-footer="navbar2">
      <header>
        <h1>订阅杂志</h1>
        <button class="btn gohome" onclick="location.href='./recommend.html#recommend';"><img src="res/img/home.png"></button>
        <a id='menubadge' onclick="location.href='./setting.html';" style='float:right;margin-top:0px' class='menuButton'></a>
      </header>
      <!-- END customer header -->
      <div class="main">
        <div class="magazine-list">
          <ul>
            <li>
              <img src="res/img/1.jpg">
              <p>
                <span>单期<br></span>
                <b>单价：20元</b><br />
                院长杂志－出版日期出版日期出版日期出版日日院长
                <span><a class="subscription" href="#subscription">订阅</a></span>
              </p>
            </li>
            <li>
              <img src="res/img/2.jpg">
              <p>
                <span>半年印刷版<br></span>
                <b>单价：240元</b><br/>
                院长杂志－出版日期出版日期出版日期出版日期院长
                <span><a class="subscription" href="#subscription">订阅</a></span>
              </p>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>一年印刷版<br></span>
                <b>单价：480元</b><br/>
                院长杂志－出版日期出版日期出版日期出版日期院长
                <span><a class="subscription" href="#subscription">订阅</a></span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--END 订阅杂志 列表 magazine-list -->

    <div title='订阅书籍' id="books-list" class="panel" data-footer="navbar2">
      <header>
        <h1>订阅书籍</h1>
        <button class="btn gohome" onclick="location.href='./recommend.html#recommend';"><img src="res/img/home.png"></button>
        <a id='menubadge' onclick="location.href='./setting.html';" style='float:right;margin-top:0px' class='menuButton'></a>
      </header>
      <!-- END customer header -->
      <div class="main">
        <div class="books-list">
          <ul>
            <li>
              <img src="res/img/1.jpg">
              <p>
                <span>中国医院院长<br></span>
                <b>￥48</b>
                <span><a class="subscription" href="#subscription">订阅</a></span>
              </p>
            </li>
            <li>
              <img src="res/img/2.jpg">
              <p>
                <span>中国医院院长<br></span>
                <b>￥48</b>
                <span><a class="subscription" href="#subscription">订阅</a></span>
              </p>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>中国医院院长<br></span>
                <b>￥48</b>
                <span><a class="subscription" href="#subscription">订阅</a></span>
              </p>
            </li>

            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>中国医院院长<br></span>
                <b>￥48</b>
                <span><a class="subscription" href="#subscription">订阅</a></span>
              </p>
            </li>

            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>中国医院院长<br></span>
                <b>￥48</b>
                <span><a class="subscription" href="#subscription">订阅</a></span>
              </p>
            </li>

            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>中国医院院长<br></span>
                <b>￥48</b>
                <span><a class="subscription" href="#subscription">订阅</a></span>
              </p>
            </li>

            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>中国医院院长<br></span>
                <b>￥48</b>
                <span><a class="subscription" href="#subscription">订阅</a></span>
              </p>
            </li>
          </ul>
          <div class="load-more"><p>查看更多</p></div>
          <div class="current"><p><img src="res/img/loading.gif"><span>查看更多</span></p></div>
        </div>
      </div>
    </div>
    <!--END 图书列表 books-list -->


    <div id="subscription" class="panel" data-footer="none">
      <header>
        <h1>订阅杂志</h1>
        <button class="btn gohome" onclick="location.href='./recommend.html#recommend-list';"><img src="res/img/goback.png"></button>
        <a class="btn search" href="#search"><img src="res/img/btn-search.png"></a>
      </header>
      <!-- END header -->
      <div class="main">
        <div class="job-content">
          <ul>
            <li><p><span class="resume-edit-left">订阅方式</span><span class="resume-edit">单期</span></p></li>
            <li>
              <p><span class="resume-edit-left">交易对方</span>
                <span class="resume-edit">中国医院院长杂志社</span>
              </p>
            </li>
            <li>
              <p>
                <span class="resume-edit-left">应付金额</span>
                <span class="resume-edit money">66.6元</span>
              </p>
            </li>
            <li>
              <p>
                <span class="resume-edit-left">支付方式</span>
            <span class="resume-edit">
              <select name="请选择支付方式" onChange="searchSeries();" id="c">
                <option>请选择支付方式</option>
                <option value="6">工商银行</option>
                <option value="7">招商银行</option>
              </select>
            </span>
              </p>
            </li>
            <li>
              <p><span class="resume-edit-left">支付宝账户</span><span class="resume-edit"><input type="text" name="comment" class="jq-ui-forms"/></span></p>
            </li>
            <li>
              <p><span class="resume-edit-left">可用余额</span><span class="resume-edit money">100.00元</span></p>
            </li>
            <li>
              <p><span class="resume-edit-left">支付密码</span><span class="resume-edit"><input type="text" name="comment" class="jq-ui-forms"/></span></p>
            </li>
            <li>
              <p><span class="resume-edit-left">短信验证码</span>
                <span class="resume-edit"><input type="text" name="comment" class="jq-ui-forms"/></span>
              </p>
            </li>
            <li class="note"><a href="#">获取短信验证码</a></li>
            <li><div class="nav"><a href="./recommend.html#success"><h4>确认付款</h4></a></div></li>

          </ul>
        </div>

      </div>
    </div>
    <!-- end 订阅杂志表单页面 # -->

    <div title='订阅' id="success" class="panel" data-footer="none">
      <header>
        <h1>订阅杂志</h1>
        <button class="btn gohome" onclick="location.href='./recommend.html#recommend';"><img src="res/img/home.png"></button>
        <a id='menubadge' onclick="location.href='./setting.html';" style='float:right;margin-top:0px' class='menuButton'></a>
      </header>
      <!-- END customer header -->
      <div class="main">
        <div class="success-list">
          <ul>
            <li>
              <img src="res/img/1.jpg">
              <p>
                <span>单期杂志<br></span>
                <b>支付金额：20元</b><br />
              </p>
            </li>
            <li class="success-text">恭喜您，支付成功！<br/>欢迎订阅单期院长杂志！</li>
            <li><div class="nav" style="width:120px;"><a href="./recommend.html#recommend-list"><h4>确定</h4></a></div></li>
          </ul>
        </div>
      </div>
    </div>
    <!--END 订阅杂志成功页面 #success -->

    <div id="setting" class="panel" style="background:#f1f1f1;" data-footer="navbar2">
      <header>
        <h1>设置</h1>
      </header>
      <div class="usercenter-content">
        <form><fieldset>
          <ul>
            <div class="issues-title">系统设置</div>
            <li><a href="#type-size">文章字号</a></li>
            <li><a href="#share-setting">分享设置</a></li>
            <li class="system-setting" style="background:none !important;">
              <a href="#system" style="width:180px; background:none !important;">推送设置</a>
        <span class="checkbox"><input type="checkbox" value="HTML5" id="html5slider" class="jq-ui-slider" />
        <label for="html5slider">HTML5</label></span>
            </li>
            <div class="issues-title">用户设置</div>
            <li><a href="#feedback">意见反馈</a></li>
            <li id="check-version"><a href="#">检测更新</a></li>
            <li><a onclick="location.href='./leading.html'">帮助中心</a></li>
            <li><a onclick="location.href='./about.html#about'">关于我们</a></li>
            <li><a href="#usercenter">个人中心</a></li>
            <div class="issues-title">账号设置</div>
            <li><a href="#login">用户登录</a></li>
            <li><a href="#register">用户注册</a></li>
            <li><a href="#">新浪微博</a></li>
            <li><a href="#">腾讯微博</a></li>
          </ul></fieldset>
        </form>
      </div>
    </div>
    <!-- END #setting -->

    <div id="type-size" class="panel issues-detail-bg" style="overflow:hidden;" data-footer="none">
      <header>
        <h1>字体大小设置</h1>
        <button class="btn goback" onclick="javascript:$.ui.goBack();"><img src="res/img/goback.png"></button>
      </header>
      <div class="usercenter-main">
        <div class="type-size">
          <ul>
            <li class="top-radius">特大号字<span><input name="" type="radio" value=""></span></li>
            <li>大号字<span><input name="" type="radio" value=""></span></li>
            <li>中号字<span><input name="" type="radio" value=""></span></li>
            <li class="bottom-radius">小号字<span><input name="" type="radio" value=""></span></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END #type-size 字号大小设置 -->


    <div id="share-setting" class="panel issues-detail-bg" style="overflow:hidden;" data-footer="none">
      <header>
        <h1>分享设置</h1>
        <button class="btn goback" onclick="javascript:$.ui.goBack();"><img src="res/img/goback.png"></button>
      </header>
      <div class="usercenter-main">
        <div class="type-size">
          <ul>
            <li class="top-radius"><img class="share-img" src="res/img/weibo.png">分享到新浪微博<span class="share-menu">绑定</span></li>
            <li class="bottom-radius"><img class="share-img" src="res/img/qq.png">分享到腾讯微博<span class="share-menu">绑定</span></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END #share-setting 分享设置 -->

    <div id="feedback" class="panel issues-detail-bg" style="overflow:hidden;" data-footer="none">
      <header>
        <h1>用户反馈</h1>
        <button class="btn goback" onclick="javascript:$.ui.goBack();"><img src="res/img/goback.png"></button>
      </header>
      <div class="usercenter-main">
        <ul>
          <li class="feedback">
            <textarea name="content" rows="6" id="Content"  onfocus="if(this.value=='留下您的宝贵意见，我们将持续改进产品（最多不能超过200字）') {this.value='';}" onblur="if(this.value=='') {this.value='留下您的宝贵意见，我们将持续改进产品（最多不能超过200字）';}">留下您的宝贵意见，我们将持续改进产品（最多不能超过200字）</textarea>
          </li>
          <li class="feedback">
            <input type="text" id="mail" name="mail" value="请输入您的邮箱" onfocus="this.value==this.defaultValue?this.value='':null;" onblur="this.value==''?this.value='请输入您的邮箱':null;"/>
          </li>
        </ul>
        <div class="login-submit">
          <input type="submit" value="提交" id="feedbackSubmit">
        </div>
      </div>
    </div>
    <!-- END #feedback -->

    <div id="login" class="panel issues-detail-bg" style="overflow:hidden;" data-footer="none" >
      <header>
        <h1>登录</h1>
        <button class="btn goback" onclick="javascript:$.ui.goBack();"><img src="res/img/goback.png"></button>
        <a href="#register" class="btn search" data-transition="up">注册</a>
      </header>
      <div class="usercenter-main">
        <div class="type-size">
          <ul>
            <li class="top-radius login"><input type="text" id="username" name="username" class="jq-ui-forms" value="请输入用户名或者邮箱" onfocus="this.value==this.defaultValue?this.value='':null;" onblur="this.value==''?this.value='请输入用户名或者邮箱':null;"/></li>
            <li class="bottom-radius login"><!-- <input type="text" id="password" name="passwd" class="jq-ui-forms" value="请输入密码" onfocus="this.value==this.defaultValue?this.value='':null;" onblur="this.value==''?this.value='请输入密码':null;"/> -->
              <input id="password" class="jq-ui-forms" type="text"  value="请输入密码" onFocus="login_pass_1()" />
              <input id="login_password" class="jq-ui-forms" type="password" name="password" style="display:none;" onBlur="login_pass_2()" />
            </li>
          </ul>
        </div>
        <div class="auto-login"><input name="" type="checkbox" value="">下次自动登录</div>
        <div class="login-submit"><input class="input" type="submit" value="登录" id="loginSubmit"></div>
      </div>
    </div>
    <!-- END #login-->

    <div id="register" class="panel issues-detail-bg" style="overflow:hidden;" data-footer="none">
      <header>
        <h1>用户注册</h1>
        <button class="btn gohome" onclick="javascript:$.ui.goBack();"><img src="res/img/goback.png"></button>
        <a href="#login" class="btn search" data-transition="down">登陆</a>
      </header>
      <div class="usercenter-main">
        <div class="type-size">
          <ul>
            <li class="top-radius login"><input type="text" id="re_username" name="username" class="jq-ui-forms" value="请输入用户名" onfocus="this.value==this.defaultValue?this.value='':null;" onblur="this.value==''?this.value='请输入用户名':null;"/></li>
            <li class="login"><input type="text" id="re_email" name="email" class="jq-ui-forms" value="请填写邮箱" onfocus="this.value==this.defaultValue?this.value='':null;" onblur="this.value==''?this.value='请填写邮箱':null;"/></li>
            <li class="login"><input type="password" id="re_password" name="passwd" class="jq-ui-forms" value="请输入密码" onfocus="this.value==this.defaultValue?this.value='':null;" onblur="this.value==''?this.value='请输入密码':null;"/></li>
            <li class="bottom-radius login"><input type="password" id="re_reg_password" name="passwd" class="jq-ui-forms" value="请输入确认密码" onfocus="this.value==this.defaultValue?this.value='':null;" onblur="this.value==''?this.value='请输入确认密码':null;"/></li>
          </ul>
        </div>
        <!--<div class="auto-login"><input name="" type="checkbox" checked="checked">已经阅读注册条款</div>-->
        <div class="login-submit"><input class="input" type="submit" value="确认注册" id="registerSubmit"></div>
      </div>
    </div>
    <!-- END #register -->


    <div id="usercenter" class="panel issues-detail-bg" style="overflow:hidden;" data-footer="none">
      <header>
        <h1>个人中心</h1>
        <button class="btn gohome" onclick="javascript:$.ui.goBack();"><img src="res/img/goback.png"></button>
        <a id="loginout" class="btn search">注销</a>
        <!-- <a href="#login" class="btn search" data-transition="up">登录</a> -->
      </header>

      <div class="usercenter-main">
        <div class="type-size my-center">
          <ul>
            <li class="top-radius"><a href="#my-collection">我的收藏</a></li>
            <li><a href="#my-comment">我的评论</a></li>
            <li class="bottom-radius"><a href="#my-subscription">我的订阅</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- END #usercenter -->

    <div id="my-collection" class="panel" data-footer="none">
      <header>
        <h1>我的收藏</h1>
        <button class="btn gohome" onclick="javascript:$.ui.goBack();"><img src="res/img/goback.png"></button>
      </header>
      <!-- END customer header -->
      <div class="main">
        <div class="news-list">
          <ul>
            <li><a href="#news-detail">
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日院长杂志－出版日期：12月1日院长杂志
              </p></a>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日
              </p>
            </li>

            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日
              </p>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日
              </p>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日
              </p>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日
              </p>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日
              </p>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日院长杂志－出版日期：12月1日院长杂志
              </p>
            </li>
          </ul>
          <div class="load-more"><p>查看更多</p></div>
          <div class="current"><p><img src="res/img/loading.gif"><span>查看更多</span></p></div>
        </div>
      </div>
    </div>
    <!--END 我的收藏 my-collection-->

    <div id="my-comment" class="panel" data-footer="none">
      <header>
        <h1>我的评论</h1>
        <button class="btn gohome" onclick="javascript:$.ui.goBack();"><img src="res/img/goback.png"></button>
      </header>
      <!-- END customer header -->
      <div class="main">
        <div class="news-list">
          <ul>
            <li><a href="#news-detail">
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日院长杂志－出版日期：12月1日院长杂志
              </p></a>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日
              </p>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日
              </p>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日
              </p>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日
              </p>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日
              </p>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>人文鼓楼<br></span>
                院长杂志－出版日期：12月1日院长杂志－出版日期：12月1日院长杂志
              </p>
            </li>
          </ul>
          <div class="load-more"><p>查看更多</p></div>
          <div class="current"><p><img src="res/img/loading.gif"><span>查看更多</span></p></div>
        </div>
      </div>
    </div>
    <!--END 我的评论 my-comment-->

    <div title='我的订阅' id="my-subscription" class="panel" data-footer="none">
      <header>
        <h1>我的订阅</h1>
        <button class="btn gohome" onclick="javascript:$.ui.goBack();"><img src="res/img/goback.png"></button>
      </header>
      <!-- END customer header -->
      <div class="main">
        <div class="magazine-list">
          <ul>
            <li>
              <img src="res/img/1.jpg">
              <p>
                <span>单期<br></span>
                <b>单价：20元</b><br />
                院长杂志－出版日期出版日期出版日期出版日日院长
                <span><a class="subscription" href="#subscription">订阅</a></span>
              </p>
            </li>
            <li>
              <img src="res/img/2.jpg">
              <p>
                <span>半年印刷版<br></span>
                <b>单价：240元</b><br/>
                院长杂志－出版日期出版日期出版日期出版日期院长
                <span><a class="subscription" href="#subscription">订阅</a></span>
              </p>
            </li>
            <li>
              <img src="res/img/3.jpg">
              <p>
                <span>一年印刷版<br></span>
                <b>单价：480元</b><br/>
                院长杂志－出版日期出版日期出版日期出版日期院长
                <span><a class="subscription" href="#subscription">订阅</a></span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>
  <!-- content 在此处结束 -->


  <!-- navbar2 -->
  <div id="navbar2" style="margin:0; float:left;" data-position="fixed">
    <a onclick="javascript:$.ui.loadContent('#issues-main',false,false,'fade')">杂志<br/><span>issues</span></a>
    <a onclick="javascript:$.ui.loadContent('#library-main',false,false,'fade')">往期<br/><span>library</span></a>
    <a href="#news-list">资讯<br/><span>news</span></a>
    <a onclick="javascript:$.ui.loadContent('#activity-list',false,false,'fade')">活动<br/><span>activity</span></a>
    <a onclick="javascript:$.ui.loadContent('#recommend',false,false,'fade')">推荐<br/><span>recommend</span></a>
  </div>

  <div id="navbar" class="navbar-detail" style="margin: 0; float:left; " data-position="fixed">
    <a class="usercenter" onclick="location.href='./issues.html'"><br/>个人中心</a>
    <a class="collection" onclick="location.href='./library.html'"><br/>收藏</a>
    <a class="comments" onclick="location.href='./news.html'"><br/>评论</a>
    <a class="shares" onclick="location.href='./activity.html'"><br/>分享</a>
  </div>


</div>
<script type="text/javascript" charset="utf-8" src="js/jq.mobi.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/jq.ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./init.js"></script>

<!-- 新闻列表界面 -->
<script type="text/template" id="tmpl-news-list">
  <% _.each(data, function(v, k){ %>
    <li data-id="<%= v.id %>">
      <% if(v.image == null){%>
        <img src="res/img/zanwu.jpg">
      <% } %>
      <% if(v.image != null){%>
        <img src="http://www.h-ceo.com/assets/upload/images/<%= v.image %>">
      <% } %>
      <p>
        <span><%= v.title %><br></span>
        <% if(v.jj == null){%>
          暂无简介
        <% } %>
        <% if(v.jj != null){%>
          <%= v.jj %>
        <% } %>
      </p>
    </li>
  <% }); %>
</script>

<!-- 新闻详情界面 -->
<script type="text/template" id="tmpl-news-detail">
  <h1><%= title %></h1>
  <div class="times">来源：<%= source %>   作者：<%= author %>   <%= issue_time %></div>
  <div><%= content %></div>
</script>

</body>
</html>